body {
    background-color: rgb(173, 161, 223);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titre{
    display: flex;
    text-decoration: none;
    justify-content: center
}

a{
    color: black;
}

.taches{
    border: 3px black dotted;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.table{
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
}

tr{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    align-items: center;
}
tbody{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.menu{
    border: none;
    width: 500px;
}

h2{
    font-size: x-large;
}

.unecarte{
 display: flex;
 justify-content: center;
}

table.unecarte{
    display: flex;
    flex-direction: column !important;
}

.valider{
    background-color: rgb(82, 175, 82);
}

.rejeter{
    background-color: rgb(177, 49, 49);
}

img{
    height: 20px;
    width: 20px;
}

button{
    margin: 20px;
}

h1{
    text-align: center;
}

.btncheck{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carte{
    border: 3px black dotted;
    width: 600px;
}

textarea{
    height: 50px;
}

#ticket{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

button.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

form{
     border: 3px black dotted;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

form.btndelete{
     border: none !important;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.background-high{
    background-color: rgb(238, 84, 84);
}

.background-medium{
    background-color: rgb(212, 123, 51);
}

.background-low{
    background-color: rgb(238, 238, 101);
}

.background-open{
    background-color: rgb(86, 206, 86);
}

.background-closed{
    background-color: rgb(238, 84, 84);
}